.input__title {
    margin-left: 10px;
    padding: 8px;
}
.item__title{
    margin: 0;
}
.input__textarea {
    margin: 10px auto;
    resize: none;
}

.addItem__ul{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

input{
    padding: 3px 5px;
}

.input__number{
    width: 60px;
}

.item{
    padding: 15px 20px 20px;
}

.item__contTitle{
    margin: 0 auto;
}

.item__btn{
    margin: 0 auto;
}