

.main {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px 20px;
    flex-wrap: wrap;
}

.item {
    width: 450px;
    border-radius: 10px;
    border: 3px solid gray;
    background-color: #55a1a16b;
    box-shadow: 0 0 10px gray;
    padding-bottom: 15px;
    transition: transform .5s;
}

.item:hover{
    transform: scale(1.05);
}

.item__title {
    text-align: center;
    margin-bottom: 0;
}

.item__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 532px;
}

.item__ul{
    padding: 0 30px 20px;
    margin: 0;
}

.item__li {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.li__title {
    font-weight: bold;
    width: 180px;
    font-size: 1rem;
    margin: 0;
    position: relative;
    top: 0;
}

.li__text {
    font-size: 0.95rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    margin: 10px 0;
}

.item__input{
    width: 50px;
    padding: 5px 10px;
    text-align: center;
}

.item__btn{
    width: 150px;
    padding: 10px 20px;
    margin: 10px auto;
    border: 3px solid rgb(83, 82, 82);
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgb(210, 217, 224);
    color: rgb(37, 126, 205);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform .5s;
}

.item__btn:hover{
    border-color: gray;
    box-shadow: 0 0 5px white;
    color: rgb(210, 217, 224);
    background-color: rgb(37, 126, 205);
    transform: scale(1.15);
}

.item__peso{
    font-size: 0.85rem;
    margin-top: 5px;
}

.item__avisoProducto{
    color: #cc6600;
    margin: 0 30px;
    text-align: justify;
}


.item__contTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px 25px;
}

.item__titleName{
    padding-top: 5px;
}

.item__divImg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 280px;
}

.item__img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.item__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}