

.main {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px 20px;
    flex-wrap: wrap;
}

.item {
    width: 380px;
    border-radius: 10px;
    border: 3px solid gray;
    background-color: #55a1a16b;
    padding: 15px 30px 20px;
    box-shadow: 0 0 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__title {
    text-align: center;
}

.item__li {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.li__title {
    font-weight: bold;
    width: 180px;
    font-size: 1rem;
    margin: 0;
    position: relative;
    top: 0;
}

.li__text {
    font-size: 0.95rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px; 
    margin: 10px 0;
}

.item__input{
    width: 50px;
    padding: 5px 10px;
    text-align: center;
}

.item__btn{
    width: 150px;
    padding: 10px 20px;
    margin: 20px auto 0;
    border: 3px solid rgb(83, 82, 82);
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgb(210, 217, 224);
    color: rgb(37, 126, 205);
    font-weight: bold;
    font-size: 1.2rem;
}

.item__peso{
    font-size: 0.85rem;
    margin-top: 5px;
}

.item__avisoProducto{
    color: #cc6600;
    margin: 0;
}


.item__contTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px 25px;
}

.item__titleName{
    padding-top: 5px;
}