/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 nov 2022, 20:10:05
    Author     : Duncan
*/

/* Le doy un fondo y un formato general a la página: */

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #046060;

}

.mensaje{
    margin-left: 50px;
    font-size: 1.15rem;
    color: #046060;
}
.error{
    color: red;
}

